body {
    background-color: #1c1f23;
    color: white;
}

.navbar{
    padding: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: x-large;
}

.navbar a{
    color: white;
}

.btn-primary{
    background-color:transparent;
}

.btn-primary:hover{
    background-color:#711212;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #1c1f23;
    padding: 10px;
}

.grid-item {
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #711212;
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99% / 5%);
    margin-bottom: 2rem;
}

.heading-title {
    font-size: 1.75em;
    font-weight: 500;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

#margin {
    margin-top: 50px;
}

#align {
    text-align: center;
}

.imidz {
    width: 70px;
    height: 80px;
}

.film-details {
    display: flex;
    align-items: center;
}

.film-image {
    width: 250px;
    height: 375px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.film-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-header,
.card-title,
.card-text {
    color: white;
}

p {
    font-size: 20px;
}

.gray-background {
    background-color: #1c1f23;
    color: white;
    border-color: rgba(255, 255, 255, 0.445);
}


/* .pagination {
    background-color: transparent;
    color: white;
    padding: 5px;
    border-radius: 5px;
} */

.pagination a {
    background-color: transparent;
    border-color: transparent;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}

 .pagination a:hover {
    background-color: #711212;
    border-color: transparent;
    color: white;
}

 .pagination .page-item.disabled .page-link {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #711212;
    border-color: transparent;
    color: white;
    padding: 8px 12px;
    border-radius: 3px;
}

.carousel-item img {
    object-fit: cover;
    height: 430px;
    width: 100%;
}

.card-img {
    height: 550px;
    object-fit: cover;
}





.film-card {
    position: relative;
}

.image-container {
    position: relative;
}

.card-img {
    transition: filter 0.8s;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    transition: opacity 0.8s, transform 0.8s;
    transition-delay: 0.2s;
}

.film-card:hover .card-img {
    filter: blur(5px);
}

.film-card:hover .play-icon {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.film-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: white;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.6s;
}

.film-card:hover .film-title {
    transform: translateY(0);
}

.promotions .button-container {
    flex: 1;
    padding: 1rem;
    text-align: center;
}

.promotions .promo-button {
    background-color: beige;
    border-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 5px;
    height: 150px;
}

.promotions .promo-button:hover {
    transform: scale(0.95);
}

.promotions .promo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.promotions .promo-text {
    margin-bottom: 1rem;
}

.films-section .card {
    position: relative;
    width: 250px;
    height: 300px;
    margin-bottom: 20px;
    background-color: transparent;
    border-color: transparent;
    transition: filter 0.3s;
}

.films-section .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.films-section .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.8s;
}

.films-section .card:hover img {
    filter: blur(5px);
}

.films-section .card .bi-eye {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    transition: opacity 0.8s, transform 0.8s;
    transition-delay: 0.2s;
    z-index: 1;
    color: white;
    font-size: 40px;
}

.films-section .card:hover .bi-eye {
    display: block;
    animation: eyeAppear 0.8s ease forwards;
}

.films-section .card .film-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: white;
    text-align: center;
    opacity: 0;
    transform: translateY(0%);
    transition: opacity 0.6s, transform 0.6s;
}

.films-section .card:hover .film-title {
    opacity: 1;
}

@keyframes eyeAppear {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
