body {
    background-color:#1c1f23;
    color: white;
}

#a{
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #1c1f23;
    padding: 10px;
}

.grid-item {
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: hsl(200 100% 99% / 5%);
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99% / 5%);
    margin-bottom: 2rem;
}

.heading-title{
    font-size: 1.75em;
    font-weight: 500;
}

.buy{
    font-size: 21px;
    background: #233ab0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.buy2{
    position: absolute;
    bottom: 10px;
    left: 135px;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: black;
}

#margin{
    margin-top: 50px;
}

.addToBusket{
    font-size: 21px;
    background: #233ab0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    position: absolute;

}

.removeFromBusket{
    font-size: 21px;
    background: #b02323;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    position: absolute;

}

#align{
    text-align: center;
}

.imidz{
    width: 70px;
    height: 80px;

}
